/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// --------------------------------------   -------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |   BKSP   |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |   ENT '  |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |   SHFT   |
// |                  | GUI | Num | SPC |   | SPC | NAV  | ALT |                      |
// --------------------------------------   -------------------------------------------
                        display-name = "Base";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &mt (SQT) (RET)
   &sk LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &sk RSHFT
                  &kp LGUI &mo 1 &kp SPACE   &kp SPACE &mo 2 &kp RALT
                        >;
                };
                num_layer {
// ---------------------------------------   --------------------------------------
// | `ESC  |  !  |  @  |  #  |  $  |  %  |   |  (  |  7  |  8  |  9  |  )  | BKSP |
// | CTRL  |  [  |  ]  |  \  |     |     |   |  .  |  4  |  5  |  6  |  -  |  +   |
// |       |     |     |     |     |     |   |  =  |  1  |  2  |  3  |  /  |  *   |
// |                   |     |     | SPC |   | SPC |     |  0  |                  |
// ---------------------------------------   --------------------------------------
                        display-name = "Num";
                        bindings = <
   &mt (ESC) (GRAVE) &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT    &kp LPAR  &kp N7 &kp N8 &kp N9 &kp RPAR  &kp BSPC
   &kp LCTRL         &kp LBKT &kp RBKT &kp BSLH &none    &none        &kp DOT   &kp N4 &kp N5 &kp N6 &kp MINUS &kp PLUS
   &none             &none    &none    &none    &none    &none        &kp EQUAL &kp N1 &kp N2 &kp N3 &kp SLASH &kp ASTRK
                                       &trans   &trans   &kp SPACE    &kp SPACE &trans &kp N0
                        >;
                };
                nav_layer {
// ------------------------------------------------   -------------------------------------------
// | ESC  |     |     |          |          |     |   |     |  HOME  |  UP  |  END  |     | DEL |
// |      |     |     |   PGUP   |   PGDN   |     |   |     |  LFT   |  DWN |  RGT  |     |     |
// | SHFT |     |     |   CTRL   |   ALT    |     |   |     |        |      |       |     |     |
// |                  | LC(SHFT) | LA(SHFT) | SPC |   | SPC |        |      |                   |
// ------------------------------------------------   -------------------------------------------
                        display-name = "Nav";
                        bindings = <
   &kp ESC   &none &none &none         &none          &none       &none     &kp HOME &kp UP   &kp END   &none &kp DEL
   &none     &none &none &kp PG_UP     &kp PG_DN      &none       &none     &kp LEFT &kp DOWN &kp RIGHT &none &trans
   &kp LSHFT &none &none &kp LCTRL     &kp LALT       &none       &none     &none    &none    &none     &none &none 
                         &kp LC(LSHFT) &kp LA(LSHFT)  &kp SPACE   &kp SPACE &trans   &none
                        >;
                };
        };
};
